/**
 * The global.css defines the style of the entire project,
 * ice.js will globally import this file by default.
 */

@tailwind components;
@tailwind utilities;

:root {
  --primary: #3178f6;
  --bg-primary: white;
}

body {
  margin: 0;
}

.app ul {
  background-color: #1890ff !important;
  justify-content: center
}